In [1]:
import pandas as pd
import numpy as np

In [3]:
file_dir = 'C://Users/brady/Desktop/1_BootcampProjects/08_ExtractTransformLoad/movies_etl/'

In [5]:
kaggle_metadata = pd.read_csv(f'{file_dir}movies_metadata.csv')
ratings = pd.read_csv(f'{file_dir}ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556